#player,#player a{ font-size: 10px; font-family:georgia;color:#fff; }
#player{ background:url('http://static.tumblr.com/ubfslaa/4Yimhlyu1/fundoeleas.png'); background-position:bottom; }
#player .mainImage{ background:url('http://static.tumblr.com/ubfslaa/Lplmhlyxd/ele1.png'); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #play{ background:url('http://static.tumblr.com/ubfslaa/zC2mhlz0m/playele.png'); }
#player #play,#player #pause{ left:32px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:95px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:122px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBuffered{ background-color:#E1E1EB;} /* Cor barra tocando */
#player #seekerSliderBase{ background-color:#9191B3; } /* Cor icone de musica rodando */

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:11px; background:url('http://static.tumblr.com/ywlup7y/Zq3m90igj/icoele.png');}

#playlist,#playlist .module,#playlist h3{color:#fff; } /* Cor barra envolta player */
#playlist h3{ background-color:dfdfe4;}
#playlist .even{background-color: #fff; /* Cor barra lista 2 */ color:#69696c;} /* Cor fonte lista */
#playlist .odd{ background-color:#dedede;color:#69696c;} /* Cor fonte lista */
#playlist .focus{ color:#0B131C;} /* Cor fonte lista da música tocando */
